body {
  margin: 0;
  font-family: 'HK Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

  *::-webkit-scrollbar {
    width: 0px;
  }
