@font-face {
  font-family: "HK Grotesk Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/HKGrotesk-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: 'HK Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

  *::-webkit-scrollbar {
    width: 0px;
  }
